<div class="page-container">
    <div class="card">
        <h1>Mi cuenta <i class="fa fa-user"></i></h1>

        <!-- Info usuario-->
        <div class="header-container">
            <div class="header-content">
                <h2>Datos de usuario</h2>
                <div class="body-container">
                    <div class="body-content">
                        <p class="text">Usuario:</p>
                        <p>{{user.userName}}</p>
                    </div>
                    <div class="body-content">
                        <p class="text">Nombre:</p>
                        <p>{{user.firstName}} {{user.lastName}}</p>
                    </div>
                    <div class="body-content">
                        <p class="text">Email:</p>
                        <p>{{user.email}}</p>
                    </div>
                </div>
                <div class="header-but">
                    <button (click)="dialogEditarUsuario.showModal()"><i class="fas fa-pencil-alt"></i>Editar</button>
                    <dialog method="dialog" #dialogEditarUsuario>
                        <app-edit-user 
                        [user]="user"
                        (close)="dialogEditarUsuario.close()">
                    </app-edit-user>
                    </dialog>
                </div>
            </div>
        
         <!--Info sub-->
    
            <div class="header-content">
                <h2>Suscripción {{subscription.name}}</h2>
                <div class="body-content">
                    <p class="text">Precio:</p>
                    <p>USD {{subscription.price}}</p>
                </div>
                <div class="body-content">
                    <p class="text">Conversiones restantes:</p>
                    <p>{{ user.subscriptionId === 3 ? 'Ilimitadas' : (remainingConversions < 0 ? 0 : remainingConversions) }}</p>
                </div>
                <div class="header-but">
                    <button><i class="fas fa-pencil-alt"></i>
                        <a [routerLink]="['/subscription']" routerLinkActive="router-link-active"
                        >Cambiar subscripción</a>
                    </button>
                </div>
            </div>
        </div>
        

        <div *ngIf="user.subscriptionId === 2 || user.subscriptionId === 3" class="tab-hist-container">
            <div class="tab-money-content">
                <h2>Historial de conversiones</h2>

                <table class="table">
                    <thead>  
                        <tr>
                            <th>Moneda de entrada</th>
                            <th>Monto</th>
                            <th>Moneda de salida</th>
                            <th>Resultado</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr *ngFor="let conversion of conversions | paginate: { id:'p2', itemsPerPage: 5, currentPage: p2 }">
                            <td>{{conversion.firstCurrencyName}}</td>
                            <td>{{conversion.firstCurrencyAmount}}</td>
                            <td>{{conversion.secondCurrencyName}}</td>
                            <td>{{conversion.convertedAmount}}</td>
                            <td>{{conversion.date | date:'yyyy-MM-dd'}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="paginate">
                    <pagination-controls id="p2" (pageChange)="p2 = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>