@use "./../../../assets/styles/variables.scss";

footer {
    height: 30px;
    background-color: variables.$color-blanco-50;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
      
}

p {
    color: variables.$color-negro-900;
    font-size: large;  
    margin-top: 10px;
}