@use "./../../../assets/styles/variables.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$color-blanco-50;
  width: 100%;
  height: 90px;
  img {
    width: 100px;
    margin-left: 40px;
    cursor: pointer;
  }
  nav {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    > * {
      font-size: large;
      color: variables.$color-negro-900;
      line-height: 20px;
      background-color: unset;
      border: unset;
      text-decoration: unset;
      padding: 16px 12px;
      cursor: pointer;
      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }
}

.icon {
  display: none;
}

nav a.active{
  box-shadow: 0 4px 0 0 variables.$color-principal-900;
  line-height: 0.1;
}


@media (width < 721px) {
  
  header img {
    width: 90px;
    height: auto;
    margin: 0 5px;
  }
  .icon {
    display: flex;
    gap: 5px;
  }

  header nav .text {
    display: none;
  }

}