<header *ngIf="auth.token() && !isLoginPage()">
   <img src="./../../../assets/img/Logo2.png" alt="Logo" [routerLink]="['/conversor']">
   <nav>
      <a class="text" *ngIf="isAdmin()" [routerLink]="['/admin']" routerLinkActive="active">Administrar</a>
      <a class="text"  [routerLink]="['/conversor']" routerLinkActive="active">Conversor</a>
      <a class="text" [routerLink]="['/perfil']" routerLinkActive="active">Mi cuenta</a>
      <button class="text" (click)="auth.logOut()">Logout</button>
   </nav>
</header>
