<div class="container">
    <div class="card">
        <div class="card-header ">
            <h3>{{subscriptions[0].name}}</h3>
            <p class="card-price">Gratis</p>
        </div>
        <div class="card-body">
            <ul class="card-description">
                <li><p>Hasta 10 conversiones por mes</p></li>
                <li><p>No incluye historial de conversiones</p></li>
                <button class="card-button" (click)="editUserSubscription(subscriptions[0].id)">Elegir</button>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header ">
            <h3>{{subscriptions[1].name}}</h3>
            <p class="card-price">USD {{subscriptions[1].price}} por mes</p>
        </div>
        <div class="card-body">
            <ul class="card-description">
                <li><p>Hasta 100 conversiones por mes</p></li>
                <li><p>Incluye historial de conversiones</p></li>
                <button class="card-button" (click)="editUserSubscription(subscriptions[1].id)">Elegir</button>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header ">
            <h3>{{subscriptions[2].name}}</h3>
            <p class="card-price">USD {{subscriptions[2].price}}</p>
        </div>
        <div class="card-body">
            <ul class="card-description">
                <li><p>Conversiones ilimitadas</p></li>
                <li><p>Incluye historial de conversiones</p></li>
                <button class="card-button" (click)="editUserSubscription(subscriptions[2].id)">Elegir</button>
            </ul>
        </div>
    </div>
</div>
