@use './../../../assets/styles/variables.scss';
@use './../../../assets/styles/forms.scss';

#page-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container{
    gap: 20px;
    display: flex;
    text-align: center;
    justify-content:center;
    max-width: 500px;
    padding: 20px;
}

form, input, button{
    font-size: 20px;
}
