<div class="form-container">
    <form id="edit-currency-form" #form="ngForm">
        <h2>Agregar moneda</h2>
        <div class="input-container"> 
            <label for="currencyName">Nombre</label>
            <input class="input-style" type="text" id="currencyName" name="currencyName" placeholder=" " minlength="3" autocomplete="on" required="true" [(ngModel)]="currency.name">
        </div>
        <div class="input-container">
            <label for="currencyValue">Indice de convertibilidad</label>
            <input class="input-style" type="text" id="currencyValue" name="currencyValue" placeholder=" " autocomplete="on" required="true" [(ngModel)]="currency.value" #email="ngModel">
        </div>
        <div class="input-container">
            <label for="currencySymbol">Codigo ISO</label>
            <input class="input-style" type="text" id="currencySymbol" name="currencySymbol" placeholder=" " minlength="3" autocomplete="on" required="true" [(ngModel)]="currency.isOcode" #name="ngModel">
        </div>
        
        <div class="btn-container">
            <button class="confirmation-but" type="submit" (click)="createCurrency(); close.emit()">Confirmar</button>
            <button class="cancel-but" type="button"  (click)="close.emit()">Cancelar</button>
        </div>
    </form>
</div>