<div class="form-container">
    <form id="create-user-form" #form="ngForm" autocomplete="on">
        <h2>Agregar nuevo usuario</h2>
        <div class="input-container"> 
            <label for="createUsername">Nombre de usuario</label>
            <input class="input-style" type="text" id="createUsername" name="username" placeholder=" " minlength="3" autocomplete="on" required="true" [(ngModel)]="userForCreation.userName">
        </div>
        <div class="input-container">
            <label for="createEmail">Email</label>
            <input class="input-style" type="email" id="createEmail" name="email" placeholder=" " autocomplete="on" required="true" [(ngModel)]="userForCreation.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        </div>
        <div class="input-container">
            <label for="createName">Nombre</label>
            <input class="input-style" type="text" id="createName" name="name" placeholder=" " minlength="3" autocomplete="on" required="true" [(ngModel)]="userForCreation.firstName" #name="ngModel">
        </div>
        <div class="input-container">
            <label for="createLastname">Apellido</label>
            <input class="input-style" type="text" id="createLastname" name="lastname" placeholder=" " minlength="3" autocomplete="on" required="true" [(ngModel)]="userForCreation.lastName" #lastname="ngModel">
        </div>
        <div class="input-container">
            <label for="createPassword">Contraseña</label>
            <input class="input-style" type="password" id="createPassword" name="password" placeholder=" " minlength="8" autocomplete="on" required="true" [(ngModel)]="userForCreation.password" #password="ngModel">
        </div>
        
        <div class="btn-container">
            <button class="confirmation-but" type="submit" (click)="addUser(); close.emit()">Confirmar</button>
            <button class="cancel-but"  type="button"(click)="close.emit()">Cancelar</button>
        </div>
        
    </form>
</div>