@use '../styles/variables.scss';

.page-container {
    height: 100%;
    gap: 30px;
    background-color: variables.$color-fondo;
}

.card{
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1{
    display: flex;
    justify-content: center;
    color: variables.$color-principal-900;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.header-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
    padding: 20px;
    width: 95%;
    margin-right: 40px;
    
}
.header-content{
    background-color: variables.$color-principal-100;
    text-align: center;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    color: variables.$color-negro-900;
    box-shadow: 0px 0px 15px variables.$color-principal-200;
    p{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.body.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-content{
    display: flex;
    align-items: center;
    text-align: center;
    .text{
        margin-right: 10px;
        width: 300px;
        font-weight: 600;
        color: variables.$color-principal-800;

    }
}

.header-content h2,
.tab-money-content h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
    color: variables.$color-principal-900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-but{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.tab-money-container{
    background-color: variables.$color-principal-100;
    border-radius: 10px;
    padding: 20px 0;
    width: 100%;
    margin: auto;
}

.tab-money-content{
    color: variables.$color-negro-900;
    padding: 0 20px;
}

    .paginate {
        width: 100%;
        text-align: center;  
    }


button {
    cursor: pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
    margin-bottom: 20px;
  }
  
  .table th {
    text-align: start;
    color: variables.$color-negro-900;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-bottom: 10px; 
  }
  
  .table td {
    padding: 10px;
    button {
        border: none;
        background: none;
        cursor: pointer;
    }
    i {
        font-size: 14px;
    }
  }
  
  .table tbody tr{
    background-color: variables.$color-principal-200; 
}

.tab-hist-container{
    background-color: variables.$color-principal-100;
    box-shadow: 0px 0px 15px variables.$color-principal-200;
    border-radius: 10px;
    padding: 20px 0;
    width: 100%;
    margin: auto;
    margin-top: 25px;
}

dialog {
    border: none;
    padding: 0;
    border-radius: 15px;

}

::ng-deep {
    .ngx-pagination .current {
        padding: 0.1875rem 0.625rem;
        background: variables.$color-principal-200 !important;
        color: variables.$color-principal-900 !important;
        cursor: default;
    }
    .ngx-pagination a {
        color: variables.$color-principal-900  !important;
        cursor: pointer;
    }
}

@media screen and (width < 980px) {
    .header-content{
        width: 400px;
    }
    *{
        font-size: 13px;
    }
    .table td{
        padding: 10px;
    }
    .body-content .text{
        width: 140px;
    }
}