$color-gris: #8E9AAF;
$color-lila-100:#CBC0D3;
$color-lila-200: #ac95bc;
$color-rojo-50: #EFD3D7;
$color-celeste-100: #DEE2FF;
$color-celeste-200: #c9d0ff;

$color-error: red;
$color-texto: black;

$bp-mobile: 480px;
$bp-tablet: 768px;