$color-principal-900: #001dbd;
$color-principal-800:#202ece;
$color-principal-700:#4c5dc3;
$color-principal-600:#506ed6;
$color-principal-500:#7e75ff;
$color-principal-400:#5481eb;
$color-principal-300:#568ffa;
$color-principal-200:#9ac7ff;
$color-principal-100:#c1dcff;
$color-principal-50:#c0dcff;

$color-fondo: #e5f1ff;

$color-negro-900:#09090a;
$color-blanco-50:#fcfcfc;

$color-gris-200:#eeeeee;
$color-gris-300:#e0e0e0;
$color-gris-400:#bdbdbd;

$color-error: #ff0000;
$color-texto: black;

$bp-mobile: 480px;
$bp-tablet: 768px;