<div class="page-container">
    <div class="card">
        <h1>Conversor de divisas</h1>
        <p>{{ user.subscriptionId === 3 ? 'Conversiones ilimitadas' : 'Conversiones restantes: ' + remainingConversions}}</p>

    
        <a [routerLink]="['/subscription']" routerLinkActive="router-link-active"
        >Cambiar subscripción</a>
        

        <div class="content-select">
            <select [(ngModel)]="conversion.firstCurrencyName">  
                <option *ngFor="let currency of currencies" [value]="currency.name" > {{ currency.name}}</option>
            </select>
            
            <select [(ngModel)]="conversion.secondCurrencyName">
                <option *ngFor="let currency of currencies" [value]="currency.name" > {{ currency.name}}</option>
            </select>
        </div>

        <input type="text" placeholder="Monto a convertir" [(ngModel)]="conversion.firstCurrencyAmount">
        

        <button class="convert-but" (click)="convert()">CONVERTIR</button>

        <div class="content-res">
            <h3>Resultado</h3>
            <p>{{conversion.convertedAmount}}</p>
        </div>
    </div>
</div>