<div class="form-container">
    <form id="edit-user-form" #form="ngForm" autocomplete="on" (ngSubmit)="onSubmit()">
        <h2>Editar usuario</h2>
        <div class="input-container"> 
            <label for="editUsername">Nombre de usuario</label>
            <input type="text" id="editUsername" name="userName" placeholder=" " minlength="3" autocomplete="on" required="true" [(ngModel)]="user.userName">
        </div>
        <div class="input-container">
            <label for="editEmail">Email</label>
            <input type="email" id="editEmail" name="email" placeholder=" " autocomplete="on" required="true" [(ngModel)]="user.email" #email="ngModel">
        </div>
        <div class="input-container">
            <label for="editName">Nombre</label>
            <input type="text" id="editName" name="name" placeholder=" " minlength="3" autocomplete="on" required="true" [(ngModel)]="user.firstName" #name="ngModel">
        </div>
        <div class="input-container">
            <label for="editLastname">Apellido</label>
            <input type="text" id="editLastname" name="lastName" placeholder=" " minlength="3" autocomplete="on" required="true" [(ngModel)]="user.lastName" #lastName="ngModel">
        </div>
        <div class="radio-input">
            <label for="editSubscription">Id de subscripción</label>
            <input type="text" id="editSubscription" name="subscriptionId" required="true" [(ngModel)]="user.subscriptionId" #subsriptionId="ngModel">
        </div>
        
        <div class="btn-container">
            <button class="confirmation-but" type="submit" (click)="editUser(); this.close.emit()">EDITAR</button>
            <button class="cancel-but" type="button" (click)="this.close.emit()">Cancelar</button>
        </div>
    </form>
</div>
